@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaginatedList<Perkuliahan.Models.Entities.MataKuliah>

<h1>Mata Kuliah</h1>
<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="List" asp-controller="MataKuliah" method="get">
            <input name="cariString" class="form-control me-1" type="search" placeholder="Cari.." aria-label="Cari" />
            <button class="btn btn-dark" type="submit">Cari berdasar Nama</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="List" class="text-dark">Lihat Semua</a>
    </div>
</div>
<div class="m-3">
    <a class="btn btn-outline-success ms-3" asp-action="Add" asp-controller="MataKuliah">Tambah Mata Kuliah</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Kode Mata Kuliah</th>
            <th>Nama Mata Kuliah</th>
            <th>Bobot SKS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Mk in Model)
        {
            <tr>
                <td>@Mk.Kode_MK</td>
                <td>@Mk.Nama_MK</td>
                <td>@Mk.Sks</td>
                <td>
                    <a class="btn btn-primary" asp-controller="MataKuliah" asp-action="Edit" asp-route-kodeMk="@Mk.Kode_MK">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisable = !Model.HasPreviousPage ? "disable" : "";
    var nextDisable = !Model.HasNextPage ? "disable" : "";
}
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisable">Previous</a>
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisable">Next</a>

