@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaginatedList<Perkuliahan.Models.Entities.Kuliah>

<h1>Daftar Perkuliahan</h1>
<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="List" asp-controller="Kuliah" method="get">
            <input name="cariString" class="form-control me-1" type="search" placeholder="Cari.." aria-label="Cari" />
            <button class="btn btn-dark" type="submit">Cari berdasar Nama</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="List" class="text-dark">Lihat Semua</a>
    </div>
</div>
<div class="m-3">
    <a class="btn btn-outline-success ms-3" asp-action="Add" asp-controller="Kuliah">Tambah Kuliah</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>NIM dan Nama</th>
            <th>Kode dan Nama Mata Kuliah</th>
            <th>NIP dan Nama Dosen</th>
            <th>Nilai</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kuliah in Model)
        {
            <tr>
                <td>@kuliah.Nim - @kuliah.Mahasiswa.Nama_Mhs</td>
                <td>@kuliah.Kode_MK - @kuliah.MataKuliah.Nama_MK</td>
                <td>@kuliah.Nip - @kuliah.Dosen.Nama_Dosen</td>
                <td>@kuliah.Nilai</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Kuliah" asp-action="Edit" asp-route-kuliahId="@kuliah.KuliahId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisable = !Model.HasPreviousPage ? "disable" : "";
    var nextDisable = !Model.HasNextPage ? "disable" : "";
}
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisable">Previous</a>
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisable">Next</a>

