
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaginatedList<Perkuliahan.Models.Entities.Mahasiswa>

<h1>Mahasiswa</h1>
<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="List" asp-controller="Mahasiswa" method="get">
            <input name="cariString" class="form-control me-1" type="search" placeholder="Cari.." aria-label="Cari" />
            <button class="btn btn-dark" type="submit">Cari berdasar Nama</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="List" class="text-dark">Lihat Semua</a>
    </div>
</div>

<div class="m-3">
    <a class="btn btn-outline-success ms-3" asp-action="Add" asp-controller="Mahasiswa">Tambah Mahasiswa</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>Jenis Kelamin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mahasiswa in Model)
        {
          <tr>
              <td>@mahasiswa.Nim</td>
              <td>@mahasiswa.Nama_Mhs</td>
              <td>@mahasiswa.Tgl_lahir.ToShortDateString()</td>
              <td>@mahasiswa.Alamat</td>
              <td>@mahasiswa.Jenis_Kelamin</td>
              <td>
                  <a class="btn btn-primary" asp-controller="Mahasiswa" asp-action="Edit" asp-route-nim="@mahasiswa.Nim">Edit</a>
              </td>
          </tr>
        }
    </tbody>
</table>
@{
    var prevDisable = !Model.HasPreviousPage ? "disable": "";
    var nextDisable = !Model.HasNextPage ? "disable" : "";
}
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisable">Previous</a>
<a asp-action="List" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisable">Next</a>




